(
.notdef,
NULL,
CR,
space,
dotmath,
lozenge,
uni4DC0,
uni4DC1,
uni4DC2,
uni4DC3,
uni4DC4,
uni4DC5,
uni4DC6,
uni4DC7,
uni4DC8,
uni4DC9,
uni4DCA,
uni4DCB,
uni4DCC,
uni4DCD,
uni4DCE,
uni4DCF,
uni4DD0,
uni4DD1,
uni4DD2,
uni4DD3,
uni4DD4,
uni4DD5,
uni4DD6,
uni4DD7,
uni4DD8,
uni4DD9,
uni4DDA,
uni4DDB,
uni4DDC,
uni4DDD,
uni4DDE,
uni4DDF,
uni4DE0,
uni4DE1,
uni4DE2,
uni4DE3,
uni4DE4,
uni4DE5,
uni4DE6,
uni4DE7,
uni4DE8,
uni4DE9,
uni4DEA,
uni4DEB,
uni4DEC,
uni4DED,
uni4DEE,
uni4DEF,
uni4DF0,
uni4DF1,
uni4DF2,
uni4DF3,
uni4DF4,
uni4DF5,
uni4DF6,
uni4DF7,
uni4DF8,
uni4DF9,
uni4DFA,
uni4DFB,
uni4DFC,
uni4DFD,
uni4DFE,
uni4DFF,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
asterisk,
numbersign,
bullet,
heavyleftpointinganglebracketornament,
heavyleftpointinganglequotationmarkornament,
heavyrightpointinganglebracketornament,
heavyrightpointinganglequotationmarkornament,
lightlefttortoiseshellbracketornament,
lightrighttortoiseshellbracketornament,
mediumflattenedparenleftornament,
mediumflattenedparenrightornament,
mediumleftcurlybracketornament,
mediumleftpointinganglebracketornament,
mediumparenleftornament,
mediumparenrightornament,
mediumrightcurlybracketornament,
mediumrightpointinganglebracketornament,
nbspace,
DEL,
blackLozenge,
bulletoperator,
zNotationSpot,
bullet.circled,
operator.circled,
upWhiteArrow,
northEastWhiteArrow,
rightWhiteArrow,
southEastWhiteArrow,
downWhiteArrow,
southWestWhiteArrow,
leftWhiteArrow,
northWestWhiteArrow,
leftRightWhiteArrow,
upOnPedestalWhiteArrow,
upArrowOnPedestalHorizontalWhiteBar,
upArrowOnPedestalVerticalWhiteBar,
upDoubleWhiteArrow,
upDoubleOnPedestalWhiteArrow,
rightFromWallWhiteArrow,
upDownWhiteArrow,
upBetweenTwoHorizontalBarsArrowHead,
rightHeavyWideHeadedArrow,
southEastHeavyArrow,
rightHeavyArrow,
northEastHeavyArrow,
rightDraftingPointArrow,
rightHeavyRoundTippedArrow,
rightTriangleThinArrow,
rightTriangleHeavyArrow,
rightDashedTriangleArrow,
rightDashedTriangleHeavyArrow,
upBlackArrow,
northEastBlackArrow,
rightBlackArrow,
southEastBlackArrow,
downBlackArrow,
southWestBlackArrow,
leftBlackArrow,
northWestBlackArrow,
leftRightBlackArrow,
upDownBlackArrow,
threeDTopLightedRightArrowhead,
threeDBottomLightedRightArrowhead,
rightBlackArrowhead,
rightCurvedTailUpHeavyBlackArrow,
rightCurvedTailDownHeavyBlackArrow,
rightSquatBlackArrow,
rightHeavyConcavePointedBlackArrow,
rightShadowRightWhiteArrow,
rightShadowLeftWhiteArrow,
rightBackTiltedShadowWhiteArrow,
rightFrontTiltedShadowWhiteArrow,
rightLowerRightShadowHeavyWhiteArrow,
rightUpperRightShadowHeavyWhiteArrow,
rightNotchedLowerRightShadowWhiteArrow,
rightNotchedUpperRightShadowWhiteArrow,
rightHeavyCircledWhiteArrow,
rightFeatheredWhiteArrow,
northEastFeatheredBlackArrow,
rightFeatheredBlackArrow,
southEastFeatheredBlackArrow,
northEastFeatheredHeavyBlackArrow,
rightFeatheredHeavyBlackArrow,
southEastFeatheredHeavyBlackArrow,
rightTeardropBarbedArrow,
rightHeavyTeardropShankedArrow,
rightWedgeTailedArrow,
rightHeavyWedgeTailedArrow,
rightOpenOutlinedArrow,
rightTriangleBlackArrow,
blackCircle,
whiteCircle,
largeCircle,
leftHalfBlackWhiteCircle,
rightHalfBlackWhiteCircle,
lowerHalfBlackWhiteCircle,
upperHalfBlackWhiteCircle,
leftHalfBlackCircle,
rightHalfBlackCircle,
upperRightBlackCircle,
upperLeftWhiteCircle,
upperLeftQuadrantWhiteCircle,
lowerLeftQuadrantWhiteCircle,
lowerRightQuadrantWhiteCircle,
upperRightQuadrantWhiteCircle,
verticalFillCircle,
dottedCircle,
fisheye,
bullseye,
whiteBullet,
inverseBullet,
inverseWhiteCircle,
upperHalfInverseWhiteCircle,
lowerHalfInverseWhiteCircle,
upperHalfArc,
lowerHalfArc,
upperLeftArc,
upperRightArc,
lowerRightArc,
lowerLeftArc,
blackDiamond,
whiteDiamond,
leftHalfBlackDiamond,
rightHalfBlackDiamond,
topHalfBlackDiamond,
bottomHalfBlackDiamond,
whiteXBlackDiamond,
blackInWhiteDiamond,
blackParallelogram,
whiteParallelogram,
blackVerticalRect,
filledRect,
whiteRect,
whiteVerticalRect,
blackSquare,
whiteSquare,
whiteRoundedCornersSquare,
whiteInBlackSquare,
dottedSquare,
horizontalFillSquare,
verticalFillSquare,
crosshatchFillSquare,
upperlefttolowerrightFillSquare,
upperrighttolowerleftFillSquare,
diagonalcrosshatchFillSquare,
blackSmallSquare,
whiteSmallSquare,
leftHalfBlackSquare,
rightHalfBlackSquare,
upperLeftDiagonalHalfBlackSquare,
lowerRightDiagonalHalfBlackSquare,
verticalBisectingLineWhiteSquare,
whiteUpperLeftQuadrantSquare,
whiteLowerLeftQuadrantSquare,
whiteLowerRightQuadrantSquare,
whiteUpperRightQuadrantSquare,
mediumWhiteSquare,
mediumBlackSquare,
mediumWhiteSmallSquare,
mediumBlackSmallSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upWhiteTriangleWithDot,
upLeftHalfBlackTriangle,
upRightHalfBlackTriangle,
rightBlackPointer,
leftBlackPointer,
rightWhitePointer,
leftWhitePointer,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
upperRightBlackTriangle,
lowerRightBlackTriangle,
lowerLeftBlackTriangle,
upperLeftBlackTriangle,
upperRightTriangle,
lowerRightTriangle,
lowerLeftTriangle,
upperLeftTriangle,
blackSunWithRays,
cloud,
umbrella,
snowman,
comet,
lightning,
thunderstorm,
sunSymbol,
umbrellaWithRainDrops,
blackstar,
whitestar,
telephoneblack,
whitetelephone,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithX,
hotBeverage,
whiteShogiPiece,
blackShogiPiece,
leftBlackIndex,
rightBlackIndex,
leftWhiteIndex,
upWhiteIndex,
rightWhiteIndex,
downWhiteIndex,
skullAndCrossbones,
caution,
radioactive,
biohazard,
outlinedGreekCross,
heavyGreekCross,
openCentreCross,
heavyOpenCentreCross,
heavenTrigram,
lakeTrigram,
fireTrigram,
thunderTrigram,
windTrigram,
waterTrigram,
mountainTrigram,
earthTrigram,
hotsprings,
wheelchairSymbol,
whiteCircleWithDotRight,
whiteCircleWithTwoDots,
blackCircleWithWhiteDotRight,
blackCircleWithTwoWhiteDots,
monogramForYang,
monogramForYin,
digramForGreaterYang,
digramForLesserYin,
digramForLesserYang,
digramForGreaterYin,
threeLinesConvergingRight,
threeLinesConvergingLeft,
highVoltageSign,
mediumWhiteCircle,
mediumBlackCircle,
mediumwhitecircle,
soccerBall,
baseball,
squaredKey,
whiteDraughtsMan,
whiteDraughtsKing,
blackDraughtsMan,
blackDraughtsKing,
snowmanWithoutSnow,
sunBehindCloud,
rain,
blackSnowman,
thunderCloudAndRain,
turnedWhiteShogiPiece,
turnedBlackShogiPiece,
whiteDiamondInSquare,
upperBladeScissors,
lowerBladeScissors,
whiteScissors,
telephoneLocationSign,
tapeDrive,
airplane,
envelope,
victoryHand,
writingHand,
lowerRightPencil,
pencil,
upperRightPencil,
whiteNib,
blackNib,
checkmark,
heavyCheckMark,
multiplicationX,
heavyMultiplicationX,
ballotX,
heavyBallotX,
fourTeardropSpokedAsterisk,
fourBalloonSpokedAsterisk,
heavyFourBalloonSpokedAsterisk,
fourClubSpokedAsterisk,
blackFourPointedStar,
whiteFourPointedStar,
stressOutlinedWhiteStar,
whiteStar.circled,
openCentreBlackStar,
blackCentreWhiteStar,
outlinedBlackStar,
heavyOutlinedBlackStar,
pinwheelStar,
shadowedWhiteStar,
heavyAsterisk,
openCentreAsterisk,
eightSpokedAsterisk,
eightPointedBlackStar,
eightPointedPinwheelStar,
sixPointedBlackStar,
eightPointedRectilinearBlackStar,
heavyEightPointedRectilinearBlackStar,
twelvePointedBlackStar,
sixteenPointedAsterisk,
teardropSpokedAsterisk,
openCentreTeardropSpokedAsterisk,
heavyTeardropSpokedAsterisk,
sixPetalledBlackAndWhiteFlorette,
blackFlorette,
whiteFlorette,
eightPetalledOutlinedBlackFlorette,
openCentreEightPointedStarCircled,
heavyTeardropSpokedPinwheelAsterisk,
snowflake,
tightTrifoliateSnowflake,
heavyChevronSnowflake,
sparkle,
heavySparkle,
balloonSpokedAsterisk,
eightTeardropSpokedPropellerAsterisk,
heavyEightTeardropSpokedPropellerAsterisk,
shadowedWhiteCircle,
lowerRightDropShadowedWhiteSquare,
upperRightDropShadowedWhiteSquare,
lowerRightShadowedWhiteSquare,
upperRightShadowedWhiteSquare,
blackQuestionOrnament,
heavyExclamationSymbol,
lightVerticalBar,
mediumVerticalBar,
heavyVerticalBar,
heavySingleTurnedCommaQuotationMarkOrnament,
heavySingleCommaQuotationMarkOrnament,
heavyDoubleTurnedCommaQuotationMarkOrnament,
heavyDoubleCommaQuotationMarkOrnament,
heavyLowSingleCommaQuotationMarkOrnament,
heavyLowDoubleCommaQuotationMarkOrnament,
curvedStemParagraphSignOrnament,
heavyExclamationOrnament,
heavyHeartExclamationOrnament,
heavyBlackHeart,
rotatedHeavyBlackHeartBullet,
floralHeart,
rotatedFloralHeartBullet,
admissionTickets,
airplaneSmall,
ambulance,
anticlockwiseTriangleBottomUShapedArrow,
anticlockwiseTriangleLeftUShapedArrow,
anticlockwiseTriangleOpenCircleArrow,
anticlockwiseTriangleRightUShapedArrow,
anticlockwiseTriangleTopUShapedArrow,
babySymbol,
backOfEnvelope,
backslantedSouthArrowWithHookedTail,
backslantedSouthArrowWithHorizontalTail,
ballotBoldScriptX,
ballotBoxWithBallot,
ballotBoxWithBoldCheck,
ballotBoxWithBoldScriptX,
ballotBoxWithLightX,
ballotBoxWithScriptX,
ballotScriptX,
barChart,
beachUmbrella,
beamedAscendingMusicalNotes,
beamedDescendingMusicalNotes,
bed,
bellhopBell,
bentDownThenNorthEastArrow,
bicycle,
bird,
blackCircleForRecord,
blackCurvedDownAndLeftArrow,
blackCurvedDownAndRightArrow,
blackCurvedLeftAndDownArrow,
blackCurvedLeftAndUpArrow,
blackCurvedRightAndDownArrow,
blackCurvedRightAndUpArrow,
blackCurvedUpAndLeftArrow,
blackCurvedUpAndRightArrow,
blackDiamondCentred,
blackDownBackhandIndex,
blackDownEquilateralArrowhead,
blackDownPointingIsoscelesRightTriangle,
blackDroplet,
blackFolder,
blackHardShellFloppyDisk,
blackHexagon,
blackHorizontalEllipse,
blackLargeCircle,
blackLargeSquare,
blackLeftBackhandIndex,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
blackLeftEquilateralArrowhead,
blackLeftPointingIsoscelesRightTriangle,
blackMediumDiamond,
blackMediumDownTriangle,
blackMediumDownTriangleCentred,
blackMediumLeftTriangle,
blackMediumLeftTriangleCentred,
blackMediumLozenge,
blackMediumRightTriangle,
blackMediumRightTriangleCentred,
blackMediumSmallDiamond,
blackMediumSmallLozenge,
blackMediumUpTriangle,
blackMediumUpTriangleCentred,
blackOctagon,
blackPennant,
blackPentagon,
blackPushpin,
blackRightBackhandIndex,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackRightEquilateralArrowhead,
blackRightPentagon,
blackRightPointingIsoscelesRightTriangle,
blackRightTriangleWithDoubleVerticalBar,
blackRosette,
blackSafetyScissors,
blackSkullAndCrossbones,
blackSlightlySmallCircle,
blackSlightlySmallSquare,
blackSmallDiamond,
blackSmallLozenge,
blackSmallStar,
blackSquareCentred,
blackSquareForStop,
blackTinyDiamond,
blackTinyLozenge,
blackTinySquare,
blackTouchtoneTelephone,
blackUpBackhandIndex,
blackUpEquilateralArrowhead,
blackUpPointingIsoscelesRightTriangle,
blackVerticalEllipse,
blackVerySmallDiamond,
blackVerySmallLozenge,
blackVerysmallSquare,
blank,
"blank-braille",
blankSymbol,
boldEightSpokedAsterisk,
boldFiveSpokedAsterisk,
boldGreekCross,
boldSaltire,
boldSixSpokedAsterisk,
boldWhiteCircle,
boldWhiteSquare,
bomb,
book,
books,
bottomHalfBlackCircle,
bouquetOfFlowers,
boysSymbol,
buildingConstruction,
bullhorn,
bullhornWithSoundWaves,
camera,
camping,
cancellationX,
candle,
cardFileBox,
cardIndexDividers,
cat,
chartDownTrend,
chartUpTrend,
chartUpTrendAndYenSign,
checkerBoard,
chipmunk,
circledBoldX,
circledInformationSource,
circledX,
cityscape,
clamshellMobilePhone,
clapperBoard,
classicalBuilding,
clipboard,
clockFaceEightOclock,
clockFaceEightThirty,
clockFaceElevenOclock,
clockFaceElevenThirty,
clockFaceFiveOclock,
clockFaceFiveThirty,
clockFaceFourOclock,
clockFaceFourThirty,
clockFaceNineOclock,
clockFaceNineThirty,
clockFaceOneOclock,
clockFaceOneThirty,
clockFaceSevenOclock,
clockFaceSevenThirty,
clockFaceSixOclock,
clockFaceSixThirty,
clockFaceTenOclock,
clockFaceTenThirty,
clockFaceThreeOclock,
clockFaceThreeThirty,
clockFaceTwelveOclock,
clockFaceTwelveThirty,
clockFaceTwoOclock,
clockFaceTwoThirty,
clockwiseRightAndLeftSemicircleArrows,
clockwiseTriangleOpenCircleArrow,
closedMailboxLoweredFlag,
closedMailboxRaisedFlag,
cloudLightning,
cloudRain,
cloudSnow,
cloudTornado,
cocktailGlass,
compression,
controlKnobs,
couchAndLamp,
creditCard,
crossPommee,
crossPommeeWithHalfCircleBelow,
daggerKnife,
darkSunglasses,
decreaseFontSizeSymbol,
derelictHouseBuilding,
desert,
desertIsland,
desktopComputer,
desktopWindow,
diamondTarget,
dieselLocomotive,
document,
documentWithPicture,
documentWithText,
documentWithTextAndPicture,
dog,
"dots1-braille",
"dots12-braille",
"dots123-braille",
"dots1234-braille",
"dots12345-braille",
"dots123456-braille",
"dots1234567-braille",
"dots12345678-braille",
"dots1234568-braille",
"dots123457-braille",
"dots1234578-braille",
"dots123458-braille",
"dots12346-braille",
"dots123467-braille",
"dots1234678-braille",
"dots123468-braille",
"dots12347-braille",
"dots123478-braille",
"dots12348-braille",
"dots1235-braille",
"dots12356-braille",
"dots123567-braille",
"dots1235678-braille",
"dots123568-braille",
"dots12357-braille",
"dots123578-braille",
"dots12358-braille",
"dots1236-braille",
"dots12367-braille",
"dots123678-braille",
"dots12368-braille",
"dots1237-braille",
"dots12378-braille",
"dots1238-braille",
"dots124-braille",
"dots1245-braille",
"dots12456-braille",
"dots124567-braille",
"dots1245678-braille",
"dots124568-braille",
"dots12457-braille",
"dots124578-braille",
"dots12458-braille",
"dots1246-braille",
"dots12467-braille",
"dots124678-braille",
"dots12468-braille",
"dots1247-braille",
"dots12478-braille",
"dots1248-braille",
"dots125-braille",
"dots1256-braille",
"dots12567-braille",
"dots125678-braille",
"dots12568-braille",
"dots1257-braille",
"dots12578-braille",
"dots1258-braille",
"dots126-braille",
"dots1267-braille",
"dots12678-braille",
"dots1268-braille",
"dots127-braille",
"dots1278-braille",
"dots128-braille",
"dots13-braille",
"dots134-braille",
"dots1345-braille",
"dots13456-braille",
"dots134567-braille",
"dots1345678-braille",
"dots134568-braille",
"dots13457-braille",
"dots134578-braille",
"dots13458-braille",
"dots1346-braille",
"dots13467-braille",
"dots134678-braille",
"dots13468-braille",
"dots1347-braille",
"dots13478-braille",
"dots1348-braille",
"dots135-braille",
"dots1356-braille",
"dots13567-braille",
"dots135678-braille",
"dots13568-braille",
"dots1357-braille",
"dots13578-braille",
"dots1358-braille",
"dots136-braille",
"dots1367-braille",
"dots13678-braille",
"dots1368-braille",
"dots137-braille",
"dots1378-braille",
"dots138-braille",
"dots14-braille",
"dots145-braille",
"dots1456-braille",
"dots14567-braille",
"dots145678-braille",
"dots14568-braille",
"dots1457-braille",
"dots14578-braille",
"dots1458-braille",
"dots146-braille",
"dots1467-braille",
"dots14678-braille",
"dots1468-braille",
"dots147-braille",
"dots1478-braille",
"dots148-braille",
"dots15-braille",
"dots156-braille",
"dots1567-braille",
"dots15678-braille",
"dots1568-braille",
"dots157-braille",
"dots1578-braille",
"dots158-braille",
"dots16-braille",
"dots167-braille",
"dots1678-braille",
"dots168-braille",
"dots17-braille",
"dots178-braille",
"dots18-braille",
"dots2-braille",
"dots23-braille",
"dots234-braille",
"dots2345-braille",
"dots23456-braille",
"dots234567-braille",
"dots2345678-braille",
"dots234568-braille",
"dots23457-braille",
"dots234578-braille",
"dots23458-braille",
"dots2346-braille",
"dots23467-braille",
"dots234678-braille",
"dots23468-braille",
"dots2347-braille",
"dots23478-braille",
"dots2348-braille",
"dots235-braille",
"dots2356-braille",
"dots23567-braille",
"dots235678-braille",
"dots23568-braille",
"dots2357-braille",
"dots23578-braille",
"dots2358-braille",
"dots236-braille",
"dots2367-braille",
"dots23678-braille",
"dots2368-braille",
"dots237-braille",
"dots2378-braille",
"dots238-braille",
"dots24-braille",
"dots245-braille",
"dots2456-braille",
"dots24567-braille",
"dots245678-braille",
"dots24568-braille",
"dots2457-braille",
"dots24578-braille",
"dots2458-braille",
"dots246-braille",
"dots2467-braille",
"dots24678-braille",
"dots2468-braille",
"dots247-braille",
"dots2478-braille",
"dots248-braille",
"dots25-braille",
"dots256-braille",
"dots2567-braille",
"dots25678-braille",
"dots2568-braille",
"dots257-braille",
"dots2578-braille",
"dots258-braille",
"dots26-braille",
"dots267-braille",
"dots2678-braille",
"dots268-braille",
"dots27-braille",
"dots278-braille",
"dots28-braille",
"dots3-braille",
"dots34-braille",
"dots345-braille",
"dots3456-braille",
"dots34567-braille",
"dots345678-braille",
"dots34568-braille",
"dots3457-braille",
"dots34578-braille",
"dots3458-braille",
"dots346-braille",
"dots3467-braille",
"dots34678-braille",
"dots3468-braille",
"dots347-braille",
"dots3478-braille",
"dots348-braille",
"dots35-braille",
"dots356-braille",
"dots3567-braille",
"dots35678-braille",
"dots3568-braille",
"dots357-braille",
"dots3578-braille",
"dots358-braille",
"dots36-braille",
"dots367-braille",
"dots3678-braille",
"dots368-braille",
"dots37-braille",
"dots378-braille",
"dots38-braille",
"dots4-braille",
"dots45-braille",
"dots456-braille",
"dots4567-braille",
"dots45678-braille",
"dots4568-braille",
"dots457-braille",
"dots4578-braille",
"dots458-braille",
"dots46-braille",
"dots467-braille",
"dots4678-braille",
"dots468-braille",
"dots47-braille",
"dots478-braille",
"dots48-braille",
"dots5-braille",
"dots56-braille",
"dots567-braille",
"dots5678-braille",
"dots568-braille",
"dots57-braille",
"dots578-braille",
"dots58-braille",
"dots6-braille",
"dots67-braille",
"dots678-braille",
"dots68-braille",
"dots7-braille",
"dots78-braille",
"dots8-braille",
doubleVerticalBar,
doveOfPeace,
downAndUpTriangleArrow,
downArrowWithEquilateralArrowhead,
downArrowWithLargeTriangleArrowhead,
downArrowWithMediumTriangleArrowhead,
downArrowWithNotchedTail,
downArrowwithtrianglearrowhead,
downCompressedArrow,
downFingerPostArrow,
downHeavyArrow,
downHeavyCompressedArrow,
downRocket,
downSansSerifArrow,
downSquaredArrow,
downTriangleArrow,
downTriangleArrowDoubleHorizontalStroke,
downTriangleArrowToBar,
downTriangleArrowWithBoldShaft,
downTriangleArrowWithHeavyShaft,
downTriangleArrowWithLongTipLeft,
downTriangleArrowWithLongTipRight,
downTriangleArrowWithMediumShaft,
downTriangleArrowWithNarrowShaft,
downTriangleArrowWithVeryHeavyShaft,
downTriangleArrowhead,
downTriangleDashedArrow,
downTriangleZigzagArrow,
downWhiteArrowWithinTriangleArrowhead,
downarrowwithequilateralarrowhead,
downdblTriangleArrow,
ear,
earthGlobeAmericas,
earthGlobeAsiaAustralia,
earthGlobeEuropeAfrica,
emptyDocument,
emptyNote,
emptyNotePad,
emptyNotePage,
emptyPage,
emptyPages,
envelopeWithLightning,
extraterrestrialAlien,
extremelyHeavyFiveSpokedAsterisk,
extremelyHeavyGreekCross,
extremelyHeavySaltire,
extremelyHeavySixSpokedAsterisk,
extremelyHeavyWhiteCircle,
extremelyHeavyWhiteSquare,
eye,
eyeglasses,
factory,
family,
faxIcon,
fileCabinet,
filmFrames,
filmProjector,
fish,
flyingEnvelope,
fog,
folder,
forkKnifePlate,
fourCornerArrowsCirclingAnticlockwise,
fourPointedBlackStar,
frameWithAnX,
frameWithPicture,
frameWithTiles,
fullMoonSymbol,
girlsSymbol,
golfer,
graduationCap,
hammerAndWrench,
hardDisk,
headphone,
heartTipOnTheLeft,
heavyAmpersandOrnament,
heavyArrowShaftWidthOne,
heavyArrowShaftWidthOneHalf,
heavyArrowShaftWidthOneThird,
heavyArrowShaftWidthTwoThirds,
heavyCircle,
heavyCircleWithCircleInside,
heavyCircledSaltire,
heavyDownArrowWithEquilateralArrowhead,
heavyDownArrowWithLargeEquilateralArrowhead,
heavyEightPointedBlackStar,
heavyEightPointedPinwheelStar,
heavyEightSpokedAsterisk,
heavyFivePointedBlackStar,
heavyFiveSpokedAsterisk,
heavyInterrobangOrnament,
heavyLargeCircle,
heavyLeftArrowWithEquilateralArrowhead,
heavyLeftArrowWithLargeEquilateralArrowhead,
heavyLigatureOpenEtOrnament,
heavyNorthEastBud,
heavyNorthEastVineLeaf,
heavyNorthWestBud,
heavyNorthWestVineLeaf,
heavyOvalWithOvalInside,
heavyRightArrowWithEquilateralArrowhead,
heavyRightArrowWithLargeEquilateralArrowhead,
heavySaltire,
heavySansSerifInterrobangOrnament,
heavyScriptLigatureEtOrnament,
heavySixPointedBlackStar,
heavySixSpokedAsterisk,
heavySouthEastBud,
heavySouthEastVineLeaf,
heavySouthWestBud,
heavySouthWestVineLeaf,
heavyTwelvePointedBlackStar,
heavyTwelvePointedPinwheelStar,
heavyUpArrowWithEquilateralArrowhead,
heavyUpArrowWithLargeEquilateralArrowhead,
heavyWhiteCircle,
heavyWhiteSquare,
hole,
hollowQuiltSquareOrnament,
hollowQuiltSquareOrnamentInBlackSquare,
horizontalBlackHexagon,
horizontalBlackOctagon,
hotPepper,
hourglass,
hourglassWithFlowingSand,
houseBuilding,
houseBuildings,
inboxTray,
increaseFontSizeSymbol,
joystick,
keyboardAndMouse,
capslock,
clear,
deleteLeftKey,
deleterightKey,
ejectsymbol,
keyboard,
optionKey,
propellor,
returnsymbol,
label,
lastQuarterMoonFace,
leftAngerBubble,
leftArrowWithEquilateralArrowhead,
leftArrowWithLargeTriangleArrowhead,
leftArrowWithMediumTriangleArrowhead,
leftArrowWithNotchedTail,
leftArrowwithtrianglearrowhead,
leftBackTiltedShadowedWhiteArrow,
leftBottomShadedWhiteArrow,
leftCompressedArrow,
leftFingerPostArrow,
leftFrontTiltedShadowedWhiteArrow,
leftHandTelephoneReceiver,
leftHeavyArrow,
leftHeavyCompressedArrow,
leftLeftShadedWhiteArrow,
leftMagnifyingGlass,
leftRightSansSerifArrow,
leftRightShadedWhiteArrow,
leftRightTriangleArrow,
leftRocket,
leftSansSerifArrow,
leftSpeechBubble,
leftSquaredArrow,
leftThoughtBubble,
leftTopShadedWhiteArrow,
leftTriangleArrow,
leftTriangleArrowDoubleHorizontalStroke,
leftTriangleArrowToBar,
leftTriangleArrowWithBoldShaft,
leftTriangleArrowWithHeavyShaft,
leftTriangleArrowWithLongTipDown,
leftTriangleArrowWithLongTipUp,
leftTriangleArrowWithMediumShaft,
leftTriangleArrowWithNarrowShaft,
leftTriangleArrowWithVeryHeavyShaft,
leftTriangleArrowhead,
leftTriangleDashedArrow,
leftWhiteArrowWithinTriangleArrowhead,
leftWritingHand,
leftandRightTriangleArrow,
leftarrowwithequilateralarrowhead,
leftdblTriangleArrow,
levelSlider,
ligatureOpenEtOrnament,
lightCheckMark,
lightEightSpokedAsterisk,
lightFivePointedBlackStar,
lightFiveSpokedAsterisk,
lightFourPointedBlackCusp,
lightFourPointedBlackStar,
lightGreekCross,
lightSaltire,
lightSixSpokedAsterisk,
lightThreePointedBlackStar,
lightTwelvePointedBlackStar,
lightWhiteSquare,
lightningMood,
lightningMoodBubble,
linkedPaperclips,
lips,
lock,
lowerHalfWhiteSquare,
lowerLeftBallpointPen,
lowerLeftCrayon,
lowerLeftFountainPen,
lowerLeftHalfWhiteSquare,
lowerLeftPaintbrush,
lowerLeftPencil,
lowerRightShadowedWhiteCircle,
manInBusinessSuitLevitating,
mantelpieceClock,
maximize,
mediumBoldWhiteCircle,
mediumEightPointedBlackStar,
mediumEightSpokedAsterisk,
mediumFiveSpokedAsterisk,
mediumFourPointedBlackStar,
mediumFourPointedPinwheelStar,
mediumGreekCross,
mediumSaltire,
mediumSixPointedBlackStar,
mediumSixSpokedAsterisk,
mediumThreePointedBlackStar,
mediumThreePointedPinwheelStar,
mediumWhiteSquareDuplicate,
mensSymbol,
metro,
militaryMedal,
minimize,
moneyBag,
moodBubble,
motorBoat,
motorway,
musicalKeyboardWithJacks,
nationalPark,
newlineLeft,
newlineRight,
noPiracy,
noSmokingSymbol,
northEastBud,
northEastLeaf,
northEastSansSerifArrow,
northEastTriangleArrow,
northEastTriangleArrowToBar,
northEastVineLeaf,
northWestBud,
northWestLeaf,
northWestSansSerifArrow,
northWestTriangleArrow,
northWestTriangleArrowToBar,
northWestVineLeaf,
northeastPointingAirplane,
notchedLeftSemicircleWithThreeDots,
notchedRightSemicircleWithThreeDots,
note,
notePad,
notePage,
ocrAmountOfCheck,
ocrBeltBuckle,
ocrBowTie,
ocrBranchBankIdentification,
ocrChair,
ocrCustomerAccount,
ocrDash,
ocrDoubleBackslash,
ocrFork,
ocrHook,
ocrInvertedFork,
oilDrum,
okHandSign,
oldKey,
oldPersonalComputer,
oncomingAutomobile,
oncomingBus,
oncomingFireEngine,
oncomingPoliceCar,
oneButtonMouse,
openFolder,
openLock,
openMailboxLoweredFlag,
openMailboxRaisedFlag,
opticalDisc,
opticalDiscIcon,
outboxTray,
overlap,
package,
page,
pageWithCircledText,
pager,
pages,
passengerShip,
penOverStampedEnvelope,
performingArts,
personalComputer,
pocketCalculator,
portableStereo,
printer,
printerIcon,
prohibitedSign,
racingCar,
racingMotorcycle,
radio,
railwayTrack,
raisedHandWithFingersSplayed,
reminderRibbon,
returnLeft,
returnRight,
reverseCheckerBoard,
reverseLightFourPointedPinwheelStar,
reversedRaisedHandWithFingersSplayed,
reversedThumbsDownSign,
reversedThumbsUpSign,
reversedVictoryHand,
ribbonArrowDownLeft,
ribbonArrowDownRight,
ribbonArrowLeftDown,
ribbonArrowLeftUp,
ribbonArrowRightDown,
ribbonArrowRightUp,
ribbonArrowUpLeft,
ribbonArrowUpRight,
rightAngerBubble,
rightArrowWithEquilateralArrowhead,
rightArrowWithLargeTriangleArrowhead,
rightArrowWithMediumTriangleArrowhead,
rightArrowWithNotchedTail,
rightArrowwithtrianglearrowhead,
rightBackTiltedShadowedWhiteArrow,
rightBottomShadedWhiteArrow,
rightCompressedArrow,
rightFingerPostArrow,
rightFrontTiltedShadowedWhiteArrow,
rightHandTelephoneReceiver,
rightHeavyArrowSymbol,
rightHeavyCompressedArrow,
rightLeftShadedWhiteArrow,
rightRightShadedWhiteArrow,
rightRocket,
rightSansSerifArrow,
rightSpeaker,
rightSpeakerWithOneSoundWave,
rightSpeakerWithThreeSoundWaves,
rightSpeechBubble,
rightSquaredArrow,
rightThoughtBubble,
rightTopShadedWhiteArrow,
rightTriangleArrow,
rightTriangleArrowDoubleHorizontalStroke,
rightTriangleArrowToBar,
rightTriangleArrowWithBoldShaft,
rightTriangleArrowWithHeavyShaft,
rightTriangleArrowWithLongTipDown,
rightTriangleArrowWithLongTipUp,
rightTriangleArrowWithMediumShaft,
rightTriangleArrowWithNarrowShaft,
rightTriangleArrowWithVeryHeavyShaft,
rightTriangleArrowhead,
rightTriangleDashedArrow,
rightWhiteArrowWithinTriangleArrowhead,
rightandLeftTriangleArrow,
rightarrowwithequilateralarrowhead,
rightdblTriangleArrow,
ringingBell,
rolledUpNewspaper,
rosette,
rotatedLightFourPointedBlackCusp,
rotatedWhiteFourPointedCusp,
roundTarget,
sansSerifHeavyDoubleCommaQuotationMarkOrnament,
sansSerifHeavyDoubleTurnedCommaQuotationMarkOrnament,
sansSerifHeavyLowDoubleCommaQuotationMarkOrnament,
sansSerifInterrobangOrnament,
satellite,
screen,
scriptLigatureEtOrnament,
shield,
shoppingBags,
shortBackslantedSouthArrow,
shortBentDownThenNorthEastArrow,
shortSlantedNorthArrow,
shoulderedopenbox,
sidewaysBlackDownIndex,
sidewaysBlackLeftPointingIndex,
sidewaysBlackRightIndex,
sidewaysBlackUpIndex,
sidewaysWhiteDownIndex,
sidewaysWhiteLeftIndex,
sidewaysWhiteRightIndex,
sidewaysWhiteUpIndex,
sixPointedPinwheelStar,
slantedNorthArrowWithHookedHead,
slantedNorthArrowWithHorizontalTail,
sleuthOrSpy,
snowCappedMountain,
snowboarder,
softShellFloppyDisk,
solidQuiltSquareOrnament,
solidQuiltSquareOrnamentInBlackSquare,
southEastBud,
southEastLeaf,
southEastSansSerifArrow,
southEastTriangleArrow,
southEastTriangleArrowToBar,
southEastVineLeaf,
southWestBud,
southWestLeaf,
southWestSansSerifArrow,
southWestTriangleArrow,
southWestTriangleArrowToBar,
southWestVineLeaf,
speaker,
speakerWithCancellationStroke,
speakerWithOneSoundWave,
speakerWithThreeSoundWaves,
speakingHeadInSilhouette,
spider,
spiderWeb,
spiralCalendarPad,
spiralNotePad,
squarePositionIndicator,
squareTarget,
stadium,
stampedEnvelope,
stockChart,
stopwatch,
studioMicrophone,
surfer,
swashAmpersandOrnament,
swimmer,
symbolForMarksChapter,
tabKeyHorizontal,
tabKeyVertical,
tapeCartridge,
telephoneOnTopOfModem,
telephoneReceiverWithPage,
television,
thermometer,
thinGreekCross,
thinSaltire,
threeButtonMouse,
threeDLeftLightedDownEquilateralArrowhead,
threeDRightLightedUpEquilateralArrowhead,
threeDTopLightedLeftEquilateralArrowhead,
threeDTopLightedRightEquilateralArrowhead,
threeNetworkedComputers,
threePointedBlackStar,
threeRaysAbove,
threeRaysBelow,
threeRaysLeft,
threeRaysRight,
threeSpeechBubbles,
thumbsDownSign,
thumbsUpSign,
timerClock,
topHalfBlackCircle,
topHalfWhiteSquare,
topRightHalfWhiteSquare,
trackball,
triangleWithRoundedCorners,
trophy,
turnedBlackPentagon,
turnedNorthEastLeaf,
turnedNorthWestLeaf,
turnedOkHandSign,
turnedSouthEastLeaf,
turnedSouthWestLeaf,
twoButtonMouse,
twoSpeechBubbles,
uncertaintySign,
upArrowWithEquilateralArrowhead,
upArrowWithLargeTriangleArrowhead,
upArrowWithMediumTriangleArrowhead,
upArrowWithNotchedTail,
upArrowheadInARectangleBox,
upArrowwithtrianglearrowhead,
upCompressedArrow,
upDownSansSerifArrow,
upDownTriangleArrow,
upFingerPostArrow,
upHeavyArrow,
upHeavyCompressedArrow,
upPointingAirplane,
upPointingMilitaryAirplane,
upRocket,
upSansSerifArrow,
upSquaredArrow,
upTriangleArrow,
upTriangleArrowDoubleHorizontalStroke,
upTriangleArrowToBar,
upTriangleArrowWithBoldShaft,
upTriangleArrowWithHeavyShaft,
upTriangleArrowWithLongTipLeft,
upTriangleArrowWithLongTipRight,
upTriangleArrowWithMediumShaft,
upTriangleArrowWithNarrowShaft,
upTriangleArrowWithVeryHeavyShaft,
upTriangleArrowhead,
upTriangleDashedArrow,
upWhiteArrowFromBarWithHorizontalBar,
upWhiteArrowWithinTriangleArrowhead,
upandDownTriangleArrow,
uparrowwithequilateralarrowhead,
updblTriangleArrow,
upperRightShadowedWhiteCircle,
uppointingairplane,
veryBoldGreekCross,
veryHeavyEightPointedBlackStar,
veryHeavyEightSpokedAsterisk,
veryHeavyFiveSpokedAsterisk,
veryHeavyGreekCross,
veryHeavyReverseSolidus,
veryHeavySaltire,
veryHeavySixSpokedAsterisk,
veryHeavySolidus,
veryHeavyWhiteCircle,
veryHeavyWhiteSquare,
videoCamera,
videoGame,
wastebasket,
watch,
wavingWhiteFlag,
weightLifter,
whiteArrowShaftWidthOne,
whiteArrowShaftWidthTwoThirds,
whiteCircleWithBlackCircle,
whiteDiamondWithBlackMediumDiamond,
whiteDiamondWithBlackVerySmallDiamond,
whiteDownBackhandIndex,
whiteDownLeftHandIndex,
whiteFourPointedCusp,
whiteHardShellFloppyDisk,
whiteHexagon,
whiteHorizontalEllipse,
whiteLargeSquare,
whiteLeftBackhandIndex,
whiteLozengeWithBlackSmallLozenge,
whiteMediumDiamond,
whiteMediumLozenge,
whiteMediumStar,
whitePennant,
whitePentagon,
whiteRightBackhandIndex,
whiteRightPentagon,
whiteSmallLozenge,
whiteSmallStar,
whiteSquareWithBlackMediumSquare,
whiteSquareWithBlackSmallSquare,
whiteSun,
whiteSunBehindCloud,
whiteSunBehindCloudRain,
whiteTouchtoneTelephone,
whiteUpBackhandIndex,
whiteVerticalEllipse,
whiteVerysmallSquare,
whitesunwithcloud,
wideHeadedDownBarbArrow,
wideHeadedDownHeavyBarbArrow,
wideHeadedDownLightBarbArrow,
wideHeadedDownMediumBarbArrow,
wideHeadedDownVeryHeavyBarbArrow,
wideHeadedLeftBarbArrow,
wideHeadedLeftHeavyBarbArrow,
wideHeadedLeftLightBarbArrow,
wideHeadedLeftMediumBarbArrow,
wideHeadedLeftVeryHeavyBarbArrow,
wideHeadedNorthEastBarbArrow,
wideHeadedNorthEastHeavyBarbArrow,
wideHeadedNorthEastLightBarbArrow,
wideHeadedNorthEastMediumBarbArrow,
wideHeadedNorthEastVeryHeavyBarbArrow,
wideHeadedNorthWestBarbArrow,
wideHeadedNorthWestHeavyBarbArrow,
wideHeadedNorthWestLightBarbArrow,
wideHeadedNorthWestMediumBarbArrow,
wideHeadedNorthWestVeryHeavyBarbArrow,
wideHeadedRightBarbArrow,
wideHeadedRightHeavyBarbArrow,
wideHeadedRightLightBarbArrow,
wideHeadedRightMediumBarbArrow,
wideHeadedRightVeryHeavyBarbArrow,
wideHeadedSouthEastBarbArrow,
wideHeadedSouthEastHeavyBarbArrow,
wideHeadedSouthEastLightBarbArrow,
wideHeadedSouthEastMediumBarbArrow,
wideHeadedSouthEastVeryHeavyBarbArrow,
wideHeadedSouthWestBarbArrow,
wideHeadedSouthWestHeavyBarbArrow,
wideHeadedSouthWestLightBarbArrow,
wideHeadedSouthWestMediumBarbArrow,
wideHeadedSouthWestVeryHeavyBarbArrow,
wideHeadedUpBarbArrow,
wideHeadedUpHeavyBarbArrow,
wideHeadedUpLightBarbArrow,
wideHeadedUpMediumBarbArrow,
wideHeadedUpVeryHeavyBarbArrow,
windBlowingFace,
wiredKeyboard,
womensSymbol,
worldMap,
crossPommee.circled,
downArrow.blackCircled,
leftArrow.blackCircled,
rightArrow.blackCircled,
upArrow.blackCircled,
sunWithRays,
positionIndicator,
enclosingkeycapcomb,
"pedestrian-phaistosDisc",
"plumedHead-phaistosDisc",
"tattooedHead-phaistosDisc",
"captive-phaistosDisc",
"child-phaistosDisc",
"woman-phaistosDisc",
"helmet-phaistosDisc",
"gauntlet-phaistosDisc",
"tiara-phaistosDisc",
"arrow-phaistosDisc",
"bow-phaistosDisc",
"shield-phaistosDisc",
"club-phaistosDisc",
"manacles-phaistosDisc",
"mattock-phaistosDisc",
"saw-phaistosDisc",
"lid-phaistosDisc",
"boomerang-phaistosDisc",
"carpentryPlane-phaistosDisc",
"dolium-phaistosDisc",
"comb-phaistosDisc",
"sling-phaistosDisc",
"column-phaistosDisc",
"beehive-phaistosDisc",
"ship-phaistosDisc",
"horn-phaistosDisc",
"hide-phaistosDisc",
"bullsLeg-phaistosDisc",
"cat-phaistosDisc",
"ram-phaistosDisc",
"eagle-phaistosDisc",
"dove-phaistosDisc",
"tunny-phaistosDisc",
"bee-phaistosDisc",
"planeTree-phaistosDisc",
"vine-phaistosDisc",
"papyrus-phaistosDisc",
"rosette-phaistosDisc",
"lily-phaistosDisc",
"oxBack-phaistosDisc",
"flute-phaistosDisc",
"grater-phaistosDisc",
"strainer-phaistosDisc",
"axe-phaistosDisc",
"wavyBand-phaistosDisc",
u102E1,
u102E2,
u102E3,
u102E4,
u102E5,
u102E6,
u102E7,
u102E8,
u102E9,
u102EA,
u102EB,
u102EC,
u102ED,
u102EE,
u102EF,
u102F0,
u102F1,
u102F2,
u102F3,
u102F4,
u102F5,
u102F6,
u102F7,
u102F8,
u102F9,
u102FA,
u102FB,
zero_20E3,
one_20E3,
two_20E3,
three_20E3,
four_20E3,
five_20E3,
six_20E3,
seven_20E3,
eight_20E3,
nine_20E3,
"onehalf-greek",
"onehalfAlternate-greek",
"twothirds-greek",
"threequarters-greek",
"zero-greek",
"onequarter-greek",
"onequarter-atticGreek",
"onehalf-atticGreek",
"onedrachma-atticGreek",
"five-atticGreek",
"fifty-atticGreek",
"fivehundred-atticGreek",
"fivethousand-atticGreek",
"fiftythousand-atticGreek",
"fivetalents-atticGreek",
"tentalents-atticGreek",
"fiftytalents-atticGreek",
"onehundredtalents-atticGreek",
"fivehundredtalents-atticGreek",
"onethousandtalents-atticGreek",
"fivethousandtalents-atticGreek",
"fivestaters-atticGreek",
"tenstaters-atticGreek",
"fiftystaters-atticGreek",
"onehundredstaters-atticGreek",
"fivehundredstaters-atticGreek",
"onethousandstaters-atticGreek",
"tenthousandstaters-atticGreek",
"fiftythousandstaters-atticGreek",
"tenmnas-atticGreek",
"heraeumoneplethron-ancientGreek",
"thespianone-ancientGreek",
"hermionianone-ancientGreek",
"epidaureantwo-ancientGreek",
"thespiantwo-ancientGreek",
"cyrenaictwodrachmas-ancientGreek",
"epidaureantwodrachmas-ancientGreek",
"troezenianfive-ancientGreek",
"troezenianten-ancientGreek",
"troezeniantenalternateform-ancientGreek",
"hermionianten-ancientGreek",
"messenianten-ancientGreek",
"thespianten-ancientGreek",
"thespianthirty-ancientGreek",
"troezenianfifty-ancientGreek",
"troezenianfiftyalternateform-ancientGreek",
"hermionianfifty-ancientGreek",
"thespianfifty-ancientGreek",
"thespianonehundred-ancientGreek",
"thespianthreehundred-ancientGreek",
"epidaureanfivehundred-ancientGreek",
"troezenianfivehundred-ancientGreek",
"thespianfivehundred-ancientGreek",
"carystianfivehundred-ancientGreek",
"naxianfivehundred-ancientGreek",
"thespianonethousand-ancientGreek",
"thespianfivethousand-ancientGreek",
"delphicfivemnas-ancientGreek",
"stratianfiftymnas-ancientGreek",
asterisk_20E3,
numbersign_20E3,
space_20E3,
space_enclosingscreencomb,
space_u102E0,
diamondoperator,
ringoperator,
staroperator,
downZigzagArrow,
shamrock,
reversedRotatedFloralHeartBullet,
kingWhiteChess,
queenWhiteChess,
rookWhiteChess,
bishopWhiteChess,
knightWhiteChess,
pawnWhiteChess,
kingBlackChess,
queenBlackChess,
rookBlackChess,
bishopBlackChess,
knightBlackChess,
pawnBlackChess,
spadeBlackSuit,
heartWhiteSuit,
diamondWhiteSuit,
clubBlackSuit,
spadeWhiteSuit,
heartBlackSuit,
diamondBlackSuit,
clubWhiteSuit,
dieFace1,
dieFace2,
dieFace3,
dieFace4,
dieFace5,
dieFace6,
warningSign,
crossingLanes,
disabledCar,
pick,
carSliding,
helmetWithWhiteCross,
crossingLanes.circled,
chains,
noEntry,
alternateOneWayLeftWayTraffic,
blackTwoWayLeftWayTraffic,
whiteTwoWayLeftWayTraffic,
blackLeftLaneMerge,
whiteLeftLaneMerge,
driveSlowSign,
heavyWhiteDownTriangle,
leftClosedEntry,
squaredSaltire,
fallingDiagonalInWhiteCircleInBlackSquare,
blackTruck,
restrictedLeftEntry1,
restrictedLeftEntry2,
blackScissors,
raisedHand,
acknowledgeControl,
backspaceControl,
bellControl,
bellsymbol,
cancelControl,
carriageReturnControl,
dataLinkEscapeControl,
deleteControl,
deleteFormTwoControl,
deviceControlFourControl,
deviceControlOneControl,
deviceControlThreeControl,
deviceControlTwoControl,
uprightRepeatArrow,
endOfMediumControl,
endOfTextControl,
endOfTransmissionBlockControl,
endOfTransmissionControl,
enquiryControl,
escapeControl,
fileSeparatorControl,
formFeedControl,
groupSeparatorControl,
horizontalTabulationControl,
lineFeedControl,
"eastWind-mahjong",
"southWind-mahjong",
"westWind-mahjong",
"northWind-mahjong",
"redDragon-mahjong",
"greenDragon-mahjong",
"whiteDragon-mahjong",
"oneOfCharacters-mahjong",
"twoOfCharacters-mahjong",
"threeOfCharacters-mahjong",
"fourOfCharacters-mahjong",
"fiveOfCharacters-mahjong",
"sixOfCharacters-mahjong",
"sevenOfCharacters-mahjong",
"eightOfCharacters-mahjong",
"nineOfCharacters-mahjong",
"oneOfBamboos-mahjong",
"twoOfBamboos-mahjong",
"threeOfBamboos-mahjong",
"fourOfBamboos-mahjong",
"fiveOfBamboos-mahjong",
"sixOfBamboos-mahjong",
"sevenOfBamboos-mahjong",
"eightOfBamboos-mahjong",
"nineOfBamboos-mahjong",
"oneOfCircles-mahjong",
"twoOfCircles-mahjong",
"threeOfCircles-mahjong",
"fourOfCircles-mahjong",
"fiveOfCircles-mahjong",
"sixOfCircles-mahjong",
"sevenOfCircles-mahjong",
"eightOfCircles-mahjong",
"nineOfCircles-mahjong",
"plum-mahjong",
"orchid-mahjong",
"bamboo-mahjong",
"chrysanthemum-mahjong",
"spring-mahjong",
"summer-mahjong",
"autumn-mahjong",
"winter-mahjong",
"joker-mahjong",
"back-mahjong",
modernPentathlon,
negativeAcknowledgeControl,
newlineControl,
notCheckmark,
nullControl,
observerEyeSymbol,
uni23FB,
uni23FC,
uni23FD,
recordSeparatorControl,
rifle,
shiftInControl,
shiftOutControl,
softwareFunctionsymbol,
spaceControl,
startOfHeadingControl,
startOfTextControl,
substituteControl,
substituteFormTwoControl,
synchronousIdleControl,
uni23FE,
unitSeparatorControl,
verticalTabulationControl,
verticallinemiddledot,
dottedCircle_20E3,
dottedCircle_enclosingscreencomb,
"year-greek",
"talent-greek",
"drachma-greek",
"obol-greek",
"twoObols-greek",
"threeObols-greek",
"fourObols-greek",
"fiveObols-greek",
"metretes-greek",
"kyathosBase-greek",
"litra-greek",
"ounkia-greek",
"xestes-greek",
"artabe-greek",
"aroura-greek",
"gramma-greek",
"tryblionBase-greek",
"sinusoid-greek",
"indiction-greek",
nomisma,
"tauRho-greek",
"sextans-roman",
"uncia-roman",
"semuncia-roman",
"sextula-roman",
"dimidiaSextula-roman",
"siliqua-roman",
"denarius-roman",
"quinarius-roman",
"sestertius-roman",
"dupondius-roman",
"as-roman",
"centurial-roman",
enclosingscreencomb,
u102E0,
"gobliquestroke-phaistosDisc",
"sp_gobliquestr-phaistosDisc",
interlinearannotationanchor,
interlinearannotationseparator,
interlinearannotationterminator,
u1019C,
u10E60,
u10E61,
u10E62,
u10E63,
u10E64,
u10E65,
u10E66,
u10E67,
u10E68,
u10E69,
u10E6A,
u10E6B,
u10E6C,
u10E6D,
u10E6E,
u10E6F,
u10E70,
u10E71,
u10E72,
u10E73,
u10E74,
u10E75,
u10E76,
u10E77,
u10E78,
u10E79,
u10E7A,
u10E7B,
u10E7C,
u10E7D,
u10E7E,
u1D2E0,
u1D2E1,
u1D2E2,
u1D2E3,
u1D2E4,
u1D2E5,
u1D2E6,
u1D2E7,
u1D2E8,
u1D2E9,
u1D2EA,
u1D2EB,
u1D2EC,
u1D2ED,
u1D2EE,
u1D2EF,
u1D2F0,
u1D2F1,
u1D2F2,
u1D2F3,
u1D300,
u1D301,
u1D302,
u1D303,
u1D304,
u1D305,
u1D306,
u1D307,
u1D308,
u1D309,
u1D30A,
u1D30B,
u1D30C,
u1D30D,
u1D30E,
u1D30F,
u1D310,
u1D311,
u1D312,
u1D313,
u1D314,
u1D315,
u1D316,
u1D317,
u1D318,
u1D319,
u1D31A,
u1D31B,
u1D31C,
u1D31D,
u1D31E,
u1D31F,
u1D320,
u1D321,
u1D322,
u1D323,
u1D324,
u1D325,
u1D326,
u1D327,
u1D328,
u1D329,
u1D32A,
u1D32B,
u1D32C,
u1D32D,
u1D32E,
u1D32F,
u1D330,
u1D331,
u1D332,
u1D333,
u1D334,
u1D335,
u1D336,
u1D337,
u1D338,
u1D339,
u1D33A,
u1D33B,
u1D33C,
u1D33D,
u1D33E,
u1D33F,
u1D340,
u1D341,
u1D342,
u1D343,
u1D344,
u1D345,
u1D346,
u1D347,
u1D348,
u1D349,
u1D34A,
u1D34B,
u1D34C,
u1D34D,
u1D34E,
u1D34F,
u1D350,
u1D351,
u1D352,
u1D353,
u1D354,
u1D355,
u1D356,
u1D360,
u1D361,
u1D362,
u1D363,
u1D364,
u1D365,
u1D366,
u1D367,
u1D368,
u1D369,
u1D36A,
u1D36B,
u1D36C,
u1D36D,
u1D36E,
u1D36F,
u1D370,
u1D371,
u1D372,
u1D373,
u1D374,
u1D375,
u1D376,
u1D377,
u1D378,
u1F030,
u1F031,
u1F032,
u1F033,
u1F034,
u1F035,
u1F036,
u1F037,
u1F038,
u1F039,
u1F03A,
u1F03B,
u1F03C,
u1F03D,
u1F03E,
u1F03F,
u1F040,
u1F041,
u1F042,
u1F043,
u1F044,
u1F045,
u1F046,
u1F047,
u1F048,
u1F049,
u1F04A,
u1F04B,
u1F04C,
u1F04D,
u1F04E,
u1F04F,
u1F050,
u1F051,
u1F052,
u1F053,
u1F054,
u1F055,
u1F056,
u1F057,
u1F058,
u1F059,
u1F05A,
u1F05B,
u1F05C,
u1F05D,
u1F05E,
u1F05F,
u1F060,
u1F061,
u1F062,
u1F063,
u1F064,
u1F065,
u1F066,
u1F067,
u1F068,
u1F069,
u1F06A,
u1F06B,
u1F06C,
u1F06D,
u1F06E,
u1F06F,
u1F070,
u1F071,
u1F072,
u1F073,
u1F074,
u1F075,
u1F076,
u1F077,
u1F078,
u1F079,
u1F07A,
u1F07B,
u1F07C,
u1F07D,
u1F07E,
u1F07F,
u1F080,
u1F081,
u1F082,
u1F083,
u1F084,
u1F085,
u1F086,
u1F087,
u1F088,
u1F089,
u1F08A,
u1F08B,
u1F08C,
u1F08D,
u1F08E,
u1F08F,
u1F090,
u1F091,
u1F092,
u1F093,
u1F0A0,
u1F0A1,
u1F0A2,
u1F0A3,
u1F0A4,
u1F0A5,
u1F0A6,
u1F0A7,
u1F0A8,
u1F0A9,
u1F0AA,
u1F0AB,
u1F0AC,
u1F0AD,
u1F0AE,
u1F0B1,
u1F0B2,
u1F0B3,
u1F0B4,
u1F0B5,
u1F0B6,
u1F0B7,
u1F0B8,
u1F0B9,
u1F0BA,
u1F0BB,
u1F0BC,
u1F0BD,
u1F0BE,
u1F0BF,
u1F0C1,
u1F0C2,
u1F0C3,
u1F0C4,
u1F0C5,
u1F0C6,
u1F0C7,
u1F0C8,
u1F0C9,
u1F0CA,
u1F0CB,
u1F0CC,
u1F0CD,
u1F0CE,
u1F0CF,
u1F0D1,
u1F0D2,
u1F0D3,
u1F0D4,
u1F0D5,
u1F0D6,
u1F0D7,
u1F0D8,
u1F0D9,
u1F0DA,
u1F0DB,
u1F0DC,
u1F0DD,
u1F0DE,
u1F0DF,
u1F0E0,
u1F0E1,
u1F0E2,
u1F0E3,
u1F0E4,
u1F0E5,
u1F0E6,
u1F0E7,
u1F0E8,
u1F0E9,
u1F0EA,
u1F0EB,
u1F0EC,
u1F0ED,
u1F0EE,
u1F0EF,
u1F0F0,
u1F0F1,
u1F0F2,
u1F0F3,
u1F0F4,
u1F0F5,
u1F6D3,
u1F6D4,
u1F6D5,
u1F6D6,
u1F6D7,
u1F6F7,
u1F6F8,
u1F6F9,
u1F6FA,
u1F6FB,
u1F6FC,
u1F7D5,
u1F7D6,
u1F7D7,
u1F7D8,
u1F7D9,
u1F7E0,
u1F7E1,
u1F7E2,
u1F7E3,
u1F7E4,
u1F7E5,
u1F7E6,
u1F7E7,
u1F7E8,
u1F7E9,
u1F7EA,
u1F7EB,
u1F8B0,
u1F8B1,
u1FA00,
u1FA01,
u1FA02,
u1FA03,
u1FA04,
u1FA05,
u1FA06,
u1FA07,
u1FA08,
u1FA09,
u1FA0A,
u1FA0B,
u1FA0C,
u1FA0D,
u1FA0E,
u1FA0F,
u1FA10,
u1FA11,
u1FA12,
u1FA13,
u1FA14,
u1FA15,
u1FA16,
u1FA17,
u1FA18,
u1FA19,
u1FA1A,
u1FA1B,
u1FA1C,
u1FA1D,
u1FA1E,
u1FA1F,
u1FA20,
u1FA21,
u1FA22,
u1FA23,
u1FA24,
u1FA25,
u1FA26,
u1FA27,
u1FA28,
u1FA29,
u1FA2A,
u1FA2B,
u1FA2C,
u1FA2D,
u1FA2E,
u1FA2F,
u1FA30,
u1FA31,
u1FA32,
u1FA33,
u1FA34,
u1FA35,
u1FA36,
u1FA37,
u1FA38,
u1FA39,
u1FA3A,
u1FA3B,
u1FA3C,
u1FA3D,
u1FA3E,
u1FA3F,
u1FA40,
u1FA41,
u1FA42,
u1FA43,
u1FA44,
u1FA45,
u1FA46,
u1FA47,
u1FA48,
u1FA49,
u1FA4A,
u1FA4B,
u1FA4C,
u1FA4D,
u1FA4E,
u1FA4F,
u1FA50,
u1FA51,
u1FA52,
u1FA53,
u1FA60,
u1FA61,
u1FA62,
u1FA63,
u1FA64,
u1FA65,
u1FA66,
u1FA67,
u1FA68,
u1FA69,
u1FA6A,
u1FA6B,
u1FA6C,
u1FA6D,
u1FA70,
u1FA71,
u1FA72,
u1FA73,
u1FA74,
u1FA78,
u1FA79,
u1FA7A,
u1FA80,
u1FA81,
u1FA82,
u1FA83,
u1FA84,
u1FA85,
u1FA86,
u1FA90,
u1FA91,
u1FA92,
u1FA93,
u1FA94,
u1FA95,
u1FA96,
u1FA97,
u1FA98,
u1FA99,
u1FA9A,
u1FA9B,
u1FA9C,
u1FA9D,
u1FA9E,
u1FA9F,
u1FAA0,
u1FAA1,
u1FAA2,
u1FAA3,
u1FAA4,
u1FAA5,
u1FAA6,
u1FAA7,
u1FAA8,
u1FAB0,
u1FAB1,
u1FAB2,
u1FAB3,
u1FAB4,
u1FAB5,
u1FAB6,
u1FAC0,
u1FAC1,
u1FAC2,
u1FAD0,
u1FAD1,
u1FAD2,
u1FAD3,
u1FAD4,
u1FAD5,
u1FAD6,
u1FB00,
u1FB01,
u1FB02,
u1FB03,
u1FB04,
u1FB05,
u1FB06,
u1FB07,
u1FB08,
u1FB09,
u1FB0A,
u1FB0B,
u1FB0C,
u1FB0D,
u1FB0E,
u1FB0F,
u1FB10,
u1FB11,
u1FB12,
u1FB13,
u1FB14,
u1FB15,
u1FB16,
u1FB17,
u1FB18,
u1FB19,
u1FB1A,
u1FB1B,
u1FB1C,
u1FB1D,
u1FB1E,
u1FB1F,
u1FB20,
u1FB21,
u1FB22,
u1FB23,
u1FB24,
u1FB25,
u1FB26,
u1FB27,
u1FB28,
u1FB29,
u1FB2A,
u1FB2B,
u1FB2C,
u1FB2D,
u1FB2E,
u1FB2F,
u1FB30,
u1FB31,
u1FB32,
u1FB33,
u1FB34,
u1FB35,
u1FB36,
u1FB37,
u1FB38,
u1FB39,
u1FB3A,
u1FB3B,
u1FB3C,
u1FB3D,
u1FB3E,
u1FB3F,
u1FB40,
u1FB41,
u1FB42,
u1FB43,
u1FB44,
u1FB45,
u1FB46,
u1FB47,
u1FB48,
u1FB49,
u1FB4A,
u1FB4B,
u1FB4C,
u1FB4D,
u1FB4E,
u1FB4F,
u1FB50,
u1FB51,
u1FB52,
u1FB53,
u1FB54,
u1FB55,
u1FB56,
u1FB57,
u1FB58,
u1FB59,
u1FB5A,
u1FB5B,
u1FB5C,
u1FB5D,
u1FB5E,
u1FB5F,
u1FB60,
u1FB61,
u1FB62,
u1FB63,
u1FB64,
u1FB65,
u1FB66,
u1FB67,
u1FB68,
u1FB69,
u1FB6A,
u1FB6B,
u1FB6C,
u1FB6D,
u1FB6E,
u1FB6F,
u1FB70,
u1FB71,
u1FB72,
u1FB73,
u1FB74,
u1FB75,
u1FB76,
u1FB77,
u1FB78,
u1FB79,
u1FB7A,
u1FB7B,
u1FB7C,
u1FB7D,
u1FB7E,
u1FB7F,
u1FB80,
u1FB81,
u1FB82,
u1FB83,
u1FB84,
u1FB85,
u1FB86,
u1FB87,
u1FB88,
u1FB89,
u1FB8A,
u1FB8B,
u1FB8C,
u1FB8D,
u1FB8E,
u1FB8F,
u1FB90,
u1FB91,
u1FB92,
u1FB94,
u1FB95,
u1FB96,
u1FB97,
u1FB98,
u1FB99,
u1FB9A,
u1FB9B,
u1FB9C,
u1FB9D,
u1FB9E,
u1FB9F,
u1FBA0,
u1FBA1,
u1FBA2,
u1FBA3,
u1FBA4,
u1FBA5,
u1FBA6,
u1FBA7,
u1FBA8,
u1FBA9,
u1FBAA,
u1FBAB,
u1FBAC,
u1FBAD,
u1FBAE,
u1FBAF,
u1FBB0,
u1FBB1,
u1FBB2,
u1FBB3,
u1FBB4,
u1FBB5,
u1FBB6,
u1FBB7,
u1FBB8,
u1FBB9,
u1FBBA,
u1FBBB,
u1FBBC,
u1FBBD,
u1FBBE,
u1FBBF,
u1FBC0,
u1FBC1,
u1FBC2,
u1FBC3,
u1FBC4,
u1FBC5,
u1FBC6,
u1FBC7,
u1FBC8,
u1FBC9,
u1FBCA,
u1FBF0,
u1FBF1,
u1FBF2,
u1FBF3,
u1FBF4,
u1FBF5,
u1FBF6,
u1FBF7,
u1FBF8,
u1FBF9,
uni2B97,
uni2BBA,
uni2BBB,
uni2BBC,
uni2BC9,
uni2BD2,
uni2BD3,
uni2BD4,
uni2BD5,
uni2BD6,
uni2BD7,
uni2BD8,
uni2BD9,
uni2BDA,
uni2BDB,
uni2BDC,
uni2BDD,
uni2BDE,
uni2BDF,
uni2BE0,
uni2BE1,
uni2BE2,
uni2BE3,
uni2BE4,
uni2BE5,
uni2BE6,
uni2BE7,
uni2BE8,
uni2BE9,
uni2BEA,
uni2BEB,
uni2BEC,
uni2BED,
uni2BEE,
uni2BEF,
uni2BF0,
uni2BF1,
uni2BF2,
uni2BF3,
uni2BF4,
uni2BF5,
uni2BF6,
uni2BF7,
uni2BF8,
uni2BF9,
uni2BFA,
uni2BFB,
uni2BFC,
uni2BFD,
uni2BFF,
u1F16D,
u1F16E,
u1F16F,
u1F1AD,
u1F900,
u1F901,
u1F902,
u1F903,
u1F904,
u1F905,
u1F906,
u1F907,
u1F908,
u1F909,
u1F90A,
u1F90B,
uni1D2C0,
uni1D2C1,
uni1D2C2,
uni1D2C3,
uni1D2C4,
uni1D2C5,
uni1D2C6,
uni1D2C7,
uni1D2C8,
uni1D2C9,
uni1D2CA,
uni1D2CB,
uni1D2CC,
uni1D2CD,
uni1D2CE,
uni1D2CF,
uni1D2D0,
uni1D2D1,
uni1D2D2,
uni1D2D3,
u1F10D,
u1F10E,
u1F10F,
u1F774,
u1F775,
u1F776,
u1F77B,
u1F77C,
u1F77D,
u1F77E,
u1F77F,
"_circle-mahjong"
)