(
.notdef,
A,
A.blackCircled,
A.box,
A.circled,
A.paren,
A.roundBlackBox,
B,
B.blackCircled,
B.box,
B.circled,
B.paren,
B.roundBlackBox,
C,
C.blackCircled,
C.box,
C.circled,
C.paren,
C.roundBlackBox,
CR,
D,
D.blackCircled,
D.box,
D.circled,
D.paren,
D.roundBlackBox,
E,
E.blackCircled,
E.box,
E.circled,
E.paren,
E.roundBlackBox,
"Eight-roman",
"Eleven-roman",
F,
F.blackCircled,
F.box,
F.circled,
F.paren,
F.roundBlackBox,
"Fifty-roman",
"Five-roman",
"Fivehundred-roman",
"Fivethousand-roman",
"Four-roman",
G,
G.blackCircled,
G.box,
G.circled,
G.paren,
G.roundBlackBox,
H,
H.blackCircled,
H.box,
H.circled,
H.paren,
H.roundBlackBox,
"Hundred-roman",
Hv.box,
I,
I.blackCircled,
I.box,
I.circled,
I.paren,
I.roundBlackBox,
J,
J.blackCircled,
J.box,
J.circled,
J.paren,
J.roundBlackBox,
K,
K.blackCircled,
K.box,
K.circled,
K.paren,
K.roundBlackBox,
L,
L.blackCircled,
L.box,
L.circled,
L.paren,
L.roundBlackBox,
M,
M.blackCircled,
M.box,
M.circled,
M.paren,
M.roundBlackBox,
Mv.box,
N,
N.blackCircled,
N.box,
N.circled,
N.paren,
N.roundBlackBox,
NULL,
"Nine-roman",
O,
O.blackCircled,
O.box,
O.circled,
O.paren,
O.roundBlackBox,
"One-roman",
"Onehundredreversed-roman",
"Onehundredthousand-roman",
"Onethousandcd-roman",
P,
P.blackCircled,
P.box,
P.circled,
P.paren,
P.roundBlackBox,
Ppv.box,
Q,
Q.blackCircled,
Q.box,
Q.circled,
Q.paren,
Q.roundBlackBox,
R,
R.blackCircled,
R.box,
R.circled,
R.paren,
R.roundBlackBox,
S,
S.blackCircled,
S.box,
S.circled,
S.paren,
S.roundBlackBox,
Sd.box,
"Seven-roman",
"Six-roman",
Ss.box,
T,
T.blackCircled,
T.box,
T.circled,
T.paren,
T.roundBlackBox,
"Ten-roman",
"Tenthousand-roman",
"Thousand-roman",
"Three-roman",
"Twelve-roman",
"Two-roman",
U,
U.blackCircled,
U.box,
U.circled,
U.paren,
U.roundBlackBox,
V,
V.blackCircled,
V.box,
V.circled,
V.paren,
V.roundBlackBox,
W,
W.blackCircled,
W.box,
W.circled,
W.paren,
W.roundBlackBox,
Wc.box,
X,
X.blackCircled,
X.box,
X.circled,
X.paren,
X.roundBlackBox,
Y,
Y.blackCircled,
Y.box,
Y.circled,
Y.paren,
Y.roundBlackBox,
Z,
Z.blackCircled,
Z.box,
Z.circled,
Z.paren,
Z.roundBlackBox,
_blackCircledComp,
_boxComp,
_circledComp,
_doubleCircled,
_parenComp,
_roundBlackBoxComp,
a,
a.circled,
a.paren,
accurrent,
adiShakti,
"air-alchemical",
alembic,
"alembic-alchemical",
"alkali-alchemical",
"alkali2-alchemical",
allAroundProfile,
alternativekeysymbol,
"alum-alchemical",
"amalgam-alchemical",
anchorSymbol,
angleLeft,
angleRight,
ankh,
"antimonyOre-alchemical",
"aquaRegia-alchemical",
"aquaRegia2-alchemical",
"aquaVitae-alchemical",
"aquaVitae2-alchemical",
"aquafortis-alchemical",
aquarius,
arc,
aries,
"arsenic-alchemical",
ascendingNode,
"ashes-alchemical",
astronomicalSymbolForUranus,
atomSymbol,
"auripigment-alchemical",
b,
b.circled,
b.paren,
"bathOfMary-alchemical",
"bathOfVapours-alchemical",
"beamedsixteenthnotes-musical",
benzenering,
benzeneringcircle,
"bismuthOre-alchemical",
blackCrossOnShield,
blackFlag,
blackMoonLilith,
blackRecycling,
blackSmilingFace,
"blackSulfur-alchemical",
"borax-alchemical",
"borax2-alchemical",
"borax3-alchemical",
bottomLeftCorner,
bottomLeftCrop,
bottomRightCorner,
bottomRightCrop,
"brick-alchemical",
brokenCircleNorthWestArrow,
c,
c.circled,
c.paren,
caduceus,
"caduceus-alchemical",
"calx-alchemical",
cancer,
capricorn,
"caputMortuum-alchemical",
castle,
celticCross,
ceres,
chiron,
church,
"cinnabar-alchemical",
clearscreensymbol,
coffin,
compositionsymbol,
conicalTaper,
conjunction,
constantineCross,
continuousunderlinesymbol,
control,
"copperAntimoniate-alchemical",
"copperOre-alchemical",
copyleft,
counterbore,
countersink,
"crocusOfCopper-alchemical",
"crocusOfCopper2-alchemical",
"crocusOfIron-alchemical",
cross,
crossedSwords,
"crucible-alchemical",
"crucible2-alchemical",
"crucible3-alchemical",
"crucible4-alchemical",
"crucible5-alchemical",
cupOnBlackSquare,
cylindricity,
d,
d.circled,
d.paren,
"dayNight-alchemical",
decimalExponentSymbol,
decimalseparatorkeysymbol,
descendingNode,
diameterSign,
dimensionOrigin,
directcurrentsymbolformtwo,
discontinuousunderlinesymbol,
"dissolve-alchemical",
"dissolve2-alchemical",
"distill-alchemical",
divorceSymbol,
dottedCircle,
doubledFemaleSign,
doubledMaleSign,
downArrow,
downArrowHead,
downCircledTriangle,
"downandhorizontal-dentistry",
"downandhorizontalcircle-dentistry",
"downandhorizontaltriangle-dentistry",
"downandhorizontalwave-dentistry",
e,
e.circled,
e.paren,
earth,
"earth-alchemical",
earthground,
eastSyriacCross,
eight,
"eight-roman",
eight.blackCircled,
eight.circled,
eight.doubleCircled,
eight.paren,
eight.sansSerifBlackCircled,
eight.sansSerifCircled,
eight_comma,
eight_period,
electricArrow,
electricalintersection,
"eleven-roman",
emphasissymbol,
enclosingcircle,
enclosingcirclebackslash,
enclosingcirclebackslashcomb,
enclosingcirclecomb,
enclosingdiamond,
enclosingdiamondcomb,
enclosingkeycapcomb,
enclosingscreencomb,
enclosingsquare,
enclosingsquarecomb,
enclosingupwardpointingtriangle,
enclosingupwardpointingtrianglecomb,
entersymbol,
f,
f.circled,
f.paren,
farsiSymbol,
ferry,
"fifty-roman",
"fiftyearlyform-roman",
"fiftythousand-roman",
"fire-alchemical",
firstQuarterMoon,
five,
"five-roman",
five.blackCircled,
five.circled,
five.doubleCircled,
five.paren,
five.sansSerifBlackCircled,
five.sansSerifCircled,
five_comma,
five_period,
"fivehundred-roman",
flagInHole,
"flat-musical",
flatness,
fleurDeLis,
flower,
fountain,
four,
"four-roman",
four.blackCircled,
four.circled,
four.doubleCircled,
four.paren,
four.sansSerifBlackCircled,
four.sansSerifCircled,
four_comma,
four_period,
frown,
fuelPump,
funeralUrn,
fuse,
g,
g.circled,
g.paren,
gear,
gearWithHandles,
gearWithoutHub,
gemini,
"gold-alchemical",
"gum-alchemical",
h,
h.circled,
h.paren,
"halfDram-alchemical",
"halfOunce-alchemical",
hammerAndPick,
hammerAndSickle,
headstoneGraveyardSymbol,
heavyCircleWithStrokeAndTwoDotsAbove,
heavyCross,
helmsymbol,
historicSite,
horizontalMaleWithStrokeSign,
horizontalbarnotchCircled,
horizontallineextension,
"horseDung-alchemical",
"hour-alchemical",
house,
"hundred-roman",
hysteresissymbol,
i,
i.circled,
i.paren,
iceSkate,
insertionsymbol,
interlockedFemaleAndMaleSign,
invertedPentagram,
"ironCopperOre-alchemical",
"ironOre-alchemical",
"ironOre2-alchemical",
j,
j.circled,
j.paren,
japaneseBankSymbol,
jerusalemCross,
juno,
jupiter,
k,
k.circled,
k.paren,
l,
l.circled,
l.paren,
lastQuarterMoon,
"leadOre-alchemical",
leftArrow,
leftCeiling,
leftFloor,
leftHandedInterlacedPentagram,
leftRightArrow,
leo,
libra,
"lodestone-alchemical",
lorraineCross,
m,
m.circled,
m.paren,
maleAndFemaleSign,
maleWithStrokeAndMaleAndFemaleSign,
maleWithStrokeSign,
malteseCross,
mapSymbolForLighthouse,
"marcasite-alchemical",
marriageSymbol,
mars,
mercury,
"mercurySublimate-alchemical",
"mercurySublimate2-alchemical",
"mercurySublimate3-alchemical",
metricalbreve,
metricallongovershort,
metricallongovertwoshorts,
metricalpentaseme,
metricalshortoverlong,
metricaltetraseme,
metricaltriseme,
metricaltwoshortsjoined,
metricaltwoshortsoverlong,
monostablesymbol,
"month-alchemical",
mountain,
n,
n.circled,
n.paren,
"natural-musical",
nbspace,
neptune,
neuter,
neutralFace,
nextpage,
"night-alchemical",
nine,
"nine-roman",
nine.blackCircled,
nine.circled,
nine.doubleCircled,
nine.paren,
nine.sansSerifBlackCircled,
nine.sansSerifCircled,
nine_comma,
nine_period,
"nitre-alchemical",
northEastAndSouthWestArrow,
northEastArrow,
northWestAndSouthEastArrow,
northWestArrow,
"note-musical",
"notedbl-musical",
o,
o.circled,
o.paren,
"oil-alchemical",
omSymbol,
one,
"one-roman",
one.blackCircled,
one.circled,
one.doubleCircled,
one.paren,
one.sansSerifBlackCircled,
one.sansSerifCircled,
one_comma,
one_eight.blackCircled,
one_eight.circled,
one_eight.paren,
one_eight_period,
one_five.blackCircled,
one_five.circled,
one_five.paren,
one_five_period,
one_four.blackCircled,
one_four.circled,
one_four.paren,
one_four_period,
one_nine.blackCircled,
one_nine.circled,
one_nine.paren,
one_nine_period,
one_one.blackCircled,
one_one.circled,
one_one.paren,
one_one_period,
one_period,
one_seven.blackCircled,
one_seven.circled,
one_seven.paren,
one_seven_period,
one_six.blackCircled,
one_six.circled,
one_six.paren,
one_six_period,
one_three.blackCircled,
one_three.circled,
one_three.paren,
one_three_period,
one_two.blackCircled,
one_two.circled,
one_two.paren,
one_two_period,
one_zero.blackCircled,
one_zero.circled,
one_zero.doubleCircled,
one_zero.paren,
one_zero.sansSerifBlackCircled,
one_zero.sansSerifCircled,
one_zero_period,
"onethousand-roman",
openCircuitOutputHType,
openCircuitOutputLType,
ophiuchus,
opposition,
orthodoxCross,
outlinedCross,
outlinedWhiteStar,
p,
p.circled,
p.paren,
pallas,
partiallyRecycledPaperSymbol,
passivePullDownOutputsymbol,
passivePullUpOutputsymbol,
peace,
pentagram,
permanentPaperSign,
personWithBall,
perspective,
"philosophersSulfur-alchemical",
pisces,
pluto,
"potAshes-alchemical",
"powder-alchemical",
"powderedBrick-alchemical",
"precipitate-alchemical",
previouspage,
printscreensymbol,
projective,
"purify-alchemical",
"putrefaction-alchemical",
q,
q.circled,
q.paren,
"quarternote-musical",
"quickLime-alchemical",
quincunx,
"quintessence-alchemical",
r,
r.circled,
r.paren,
raisedMcSign,
raisedMdSign,
raisedMrSign,
"realgar-alchemical",
"realgar2-alchemical",
recycledPaperSymbol,
recycling,
recyclingGenericMaterials,
recyclingType1Plastics,
recyclingType2Plastics,
recyclingType3Plastics,
recyclingType4Plastics,
recyclingType5Plastics,
recyclingType6Plastics,
recyclingType7Plastics,
"regulus-alchemical",
"regulus2-alchemical",
"regulus3-alchemical",
"regulus4-alchemical",
"regulusOfAntimony-alchemical",
"regulusOfAntimony2-alchemical",
"regulusOfIron-alchemical",
"retort-alchemical",
rightArrow,
rightCeiling,
rightFloor,
rightHandedInterlacedPentagram,
rightangledownzigzagArrow,
"rockSalt-alchemical",
"rockSalt2-alchemical",
s,
s.circled,
s.paren,
sagittarius,
sailboat,
"salAmmoniac-alchemical",
"salt-alchemical",
"saltOfAntimony-alchemical",
"saltOfCopperAntimoniate-alchemical",
saltire,
saturn,
scales,
"scepterOfJove-alchemical",
scorpius,
sector,
segment,
semisextile,
sesquiquadrate,
seven,
"seven-roman",
seven.blackCircled,
seven.circled,
seven.doubleCircled,
seven.paren,
seven.sansSerifBlackCircled,
seven.sansSerifCircled,
seven_comma,
seven_period,
sextile,
shadowedWhiteCross,
"sharp-musical",
shintoShrine,
"silver-alchemical",
six,
"six-roman",
six.blackCircled,
six.circled,
six.doubleCircled,
six.paren,
six.sansSerifBlackCircled,
six.sansSerifCircled,
six_comma,
six_period,
"sixlateform-roman",
skier,
slope,
smile,
"soap-alchemical",
softwareFunctionsymbol,
southEastArrow,
southWestArrow,
space,
"spirit-alchemical",
squareFourCorners,
squareLozenge,
squarefoot,
staffOfAesculapius,
staffOfHermes,
starAndCrescent,
starOfDavid,
"starredTrident-alchemical",
straightness,
"stratumSuperStratum-alchemical",
"stratumSuperStratum2-alchemical",
"sublimateOfAntimony-alchemical",
"sublimateOfCopper-alchemical",
"sublimateOfSaltOfAntimony-alchemical",
"sublimateOfSaltOfCopper-alchemical",
"sublimation-alchemical",
"sulfur-alchemical",
symmetry,
t,
t.circled,
t.paren,
"tartar-alchemical",
"tartar2-alchemical",
taurus,
telephoneRecorder,
"ten-roman",
tent,
three,
"three-roman",
three.blackCircled,
three.circled,
three.doubleCircled,
three.paren,
three.sansSerifBlackCircled,
three.sansSerifCircled,
threeTurned,
three_comma,
three_period,
"tinOre-alchemical",
"tincture-alchemical",
topLeftCorner,
topLeftCrop,
topRightCrop,
topRightcorner,
totalRunout,
"trident-alchemical",
"tutty-alchemical",
"twelve-roman",
two,
"two-roman",
two.blackCircled,
two.circled,
two.doubleCircled,
two.paren,
two.sansSerifBlackCircled,
two.sansSerifCircled,
twoTurned,
two_comma,
two_period,
two_zero.blackCircled,
two_zero.circled,
two_zero.paren,
two_zero_period,
u,
u.circled,
u.paren,
u1F12A,
u1F12B,
u1F12C,
u1F12D,
u1F12E,
u1F18A,
u1F18B,
u1F18C,
u1F18D,
u1F18E,
u1F18F,
u1F190,
u1F19B,
u1F19C,
u1F19D,
u1F19E,
u1F19F,
u1F1A0,
u1F1A1,
u1F1A2,
u1F1A3,
u1F1A4,
u1F1A5,
u1F1A6,
u1F1A7,
u1F1A8,
u1F1A9,
u1F1AA,
u1F1AB,
u1F1AC,
u1F54F,
umbrellaOnGround,
undosymbol,
unmarriedPartnershipSymbol,
upArrow,
upDownArrow,
"upandhorizontal-dentistry",
"upandhorizontalcircle-dentistry",
"upandhorizontaltriangle-dentistry",
"upandhorizontalwave-dentistry",
uranus,
"urine-alchemical",
v,
v.circled,
v.paren,
venus,
"verdigris-alchemical",
verticalMaleWithStrokeSign,
"verticalandbottomleft-dentistry",
"verticalandbottomright-dentistry",
"verticalandtopleft-dentistry",
"verticalandtopright-dentistry",
"verticalandwave-dentistry",
"verticalcircle-dentistry",
verticallineextension,
"verticaltriangle-dentistry",
vesta,
viewdataSquare,
"vinegar-alchemical",
"vinegar2-alchemical",
"vinegar3-alchemical",
"vinegarOfAntimony-alchemical",
virgo,
"vitriol-alchemical",
"vitriol2-alchemical",
w,
w.circled,
w.paren,
"water-alchemical",
wavyLine,
"wax-alchemical",
westSyriacCross,
wheelOfDharma,
whiteCross,
whiteFlag,
whiteFlagWithHorizontalMiddleBlackStripe,
whiteFrowningFace,
whiteSmilingFace,
whitesquarecentreverticalline,
whitetrapezium,
x,
x.circled,
x.paren,
y,
y.circled,
y.paren,
yinyang,
z,
z.circled,
z.paren,
zero,
zero.blackCircled,
zero.circled,
zero.sansSerifBlackCircled,
zero.sansSerifCircled,
zero_comma,
zero_period
)