<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>uni1D2C0</key>
		<string>uni1D_2C_0.glif</string>
		<key>uni1D2C1</key>
		<string>uni1D_2C_1.glif</string>
		<key>uni1D2C2</key>
		<string>uni1D_2C_2.glif</string>
		<key>uni1D2C3</key>
		<string>uni1D_2C_3.glif</string>
		<key>uni1D2C5</key>
		<string>uni1D_2C_5.glif</string>
		<key>uni1D2C6</key>
		<string>uni1D_2C_6.glif</string>
		<key>uni1D2C8</key>
		<string>uni1D_2C_8.glif</string>
		<key>uni1D2C9</key>
		<string>uni1D_2C_9.glif</string>
		<key>uni1D2CA</key>
		<string>uni1D_2C_A_.glif</string>
		<key>uni1D2CB</key>
		<string>uni1D_2C_B_.glif</string>
		<key>uni1D2CC</key>
		<string>uni1D_2C_C_.glif</string>
		<key>uni1D2CE</key>
		<string>uni1D_2C_E_.glif</string>
		<key>uni1D2D0</key>
		<string>uni1D_2D_0.glif</string>
		<key>uni1D2D1</key>
		<string>uni1D_2D_1.glif</string>
		<key>uni1D2D2</key>
		<string>uni1D_2D_2.glif</string>
		<key>uni1D2D3</key>
		<string>uni1D_2D_3.glif</string>
	</dict>
</plist>
